@media ( max-width: 1600px) {
video.pop {
    margin: 0 0 0 0;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
  
}

}



@media ( max-width: 375px) {
	body {
    width: 100%;
    background-color: black;
    height: 12683px;
    /* width: 1920px; */
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
}
	img.slide1 {
    opacity: 0.5;
    position: absolute;
    margin-left: 77%;
    margin-top: 270%;
    width: 263%;
}
img.slide1_2_ {
    position: absolute;
    margin-left: 240px;
    margin-top: 452px;
    display: none;
   }
ul.menu {
    width: 378%;
    font-size: 26px;
    position: absolute;
    margin-left: 33%;
    margin-top: 116%;
    display: inline-block;
}
video.creativ5 {
    /* margin-bottom: 0; */
    height: 222%;
    margin-top: 178%;
    opacity: 0.3;
    margin-left: -103%;
    position: absolute;
    -webkit-transform: rotate(270deg);
    //: ;
    Chrome,: ;
    Safari: ;
    -moz-transform: rotate(270deg);
    //: ;
    Firefox: ;
    -o-transform: rotate(270deg);
    //: ;
    Opera: ;
    -ms-transform: rotate(270deg);
    //: ;
    IE: ;
    transform: rotate(270deg);
    //браузеры без префексов: ;
}
a.menu {
    font-size: 55px;
    padding-right: 11.5px;
    padding-left: 11.5px;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-family: "Crossten";
}
img.slide_3_ {
    position: absolute;
    margin-left: 1426px;
    margin-top: 100px;
    display: none;
}
img.slide1_1_ {
    position: absolute;
    margin-left: 1426px;
    margin-top: 147px;
    display: none;
}


}