@media ( max-width: 1600px) {
video.pop {
    margin: 0 0 0 0;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: none;
}
video.pop2{
  position: absolute;
  display: block;
  min-width: 100%;
  min-height: 100%;
  margin: 0 0 0 0;

}
}



@media ( max-width: 1477px) {

}