/*1369 - 1600 px*/
@media ( max-width: 1600px) {
    .container_fon {
        position: absolute;
        margin-left: 19%;
        margin-top: 30%;
        width: 40%;
    }
    h1.years {
        font-size: 82px;
        font-family: "Eastone";
        color: white;
        transform: rotate(270deg);
        letter-spacing: 5px;
    }
    a.menu {
        color: white;
        list-style: none;
        text-decoration: none;
        display: inline-block;
        padding-left: 51px;
        padding-right: 51px;
        font-family: "Crossten";
        font-size: 21px;
    }
    .logo {
        height: 4%;
        position: absolute;
        margin-left: 3%;
        margin-top: 3%;
    }
}
/*961 - 1368 px*/
@media ( max-width: 1368px) {

    h1.years {
        font-size: 78px;
        font-family: "Eastone";
        color: white;
        transform: rotate(270deg);
        letter-spacing: 5px;
    }
    a.menu {
        color: white;
        list-style: none;
        text-decoration: none;
        display: inline-block;
        padding-left: 29;
        padding-right: 29px;
        font-family: "Crossten";
        font-size: 15px;
    }
    div.container_scroll {
        margin-left: 53%;
        margin-top: 48%;
        position: absolute;
    }
    h1.scroll {
        color: white;
        font-size: 11px;
        font-family: "Crossten";
        letter-spacing: 3px;
    }
    div.video_fon_1 {
        opacity: 0.5;
        width: 49%;
        position: absolute;
        margin: 15% 5% 5% 26%;
    }
    div.container_fon_2 {
        position: absolute;
        margin-left: 74%;
        margin-top: 15%;
    }
    img.bow{
        width: 65%;
    }
}

/*769 - 960 px*/
@media ( max-width: 960px) {
    .container_fon {
        position: absolute;
        margin-left: 16%;
        margin-top: 30%;
        width: 100%;
        max-width: 960px;
    }
    img.img_fon_1 {
        width: 10%;
        height: auto;
    }
    h1.years {
        font-size: 43px;
        font-family: "Eastone";
        color: white;
        transform: rotate(270deg);
        letter-spacing: 5px;
    }
    div.video_fon_1 {
        opacity: 0.5;
        width: 49%;
        position: absolute;
        margin: 17% 5% 5% 26%;
    }
    div.container_years {
        position: absolute;
        margin-left: 70%;
        margin-top: 36%;
    }
    img.bow{
        width: 63%;
    }
    a.menu {
        color: white;
        list-style: none;
        text-decoration: none;
        display: inline-block;
        padding-left: 35px;
        padding-right: 35px;
        font-family: "Crossten";
        font-size: 17px;
    }
    img.container_fon_2_img {
        width: 37%;
    }
    div.container_fon_2 {
        position: absolute;
        margin-left: 74%;
        margin-top: 17%;
    }
    a.menu {
        color: white;
        list-style: none;
        text-decoration: none;
        display: inline-block;
        padding-left: 26px;
        padding-right: 26px;
        font-family: "Crossten";
        font-size: 14px;
    }
    .logo {
        height: 3%;
        position: absolute;
        margin-left: 3%;
        margin-top: 3%;
    }
}
/*481 - 768 px*/
@media ( max-width: 768px) {
    h1.years {
        font-size: 35px;
        font-family: "Eastone";
        color: white;
        transform: rotate(270deg);
        letter-spacing: 5px;
    }
    div.container_bow {
        position: absolute;
        margin-left: 49%;
        margin-top: 48%;
    }
    h1.scroll {
        color: white;
        font-size: 10px;
        font-family: "Crossten";
        letter-spacing: 3px;
    }
    .container_mp4{
        display: block;
        position: absolute;
        margin: 0 auto;
        width: 100%;
    }
    .container{
        display: none;
    }
    video.pop_mp4{
        width: 100%;
    }
}
/*320 - 480 px*/
@media ( max-width: 480px) {
    .container {
        position: absolute;
        margin: 0 auto;
        width: 100%;
        display: none;
    }
    div.video_fon_mp4{
        opacity: 0.5;
        width: 100%;
        position: absolute;
        margin: 45% 5% 5% 8%;
        transform: rotate(270deg);

    }
    video.video-fon_mp4{
        display: block;
        width: 100%;
    }
    video.video-fon{
        display: none;
    }
    a.menu {
        color: white;
        list-style: none;
        text-decoration: none;
        display: inline-block;
        padding-left: 17px;
        padding-right: 17px;
        font-family: "Crossten";
        font-size: 17px;
    }
    .container_Menu {
        position: absolute;
        left: 0;
        top: 10%;
        width: 100%;
        height: 50px;
        text-align: center;
        display: inline;
        vertical-align: middle;
    }
}