body{
	background-color: black;
	height: 12683px;
 margin: 0;
	overflow-x: hidden;
    overflow-y: auto;
	
}
/*Specs*/
h1 h2 h3 h4 h5 p {
    color: white;
}




/*--------------slide-1-----------*/
header{

    margin: 0 auto;
    height: 100vh;
}
.container_Menu{
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    height:50px;
    text-align: center;
    display: inline;
    vertical-align:middle;
}
a.menu{
    color: white;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding-left: 51px;
    padding-right: 51px;
    font-family: "Crossten";
    font-size: 23px;
}
.container{
    position: absolute;
    margin: 0 auto;
    width: 100%;
}
video.pop{
    width: 100%;
}
.logo{
    position: absolute;
    margin-left: 3%;
    margin-top: 3%;
}
.container_fon{
    position: absolute;
    margin-left: 17%;
    margin-top: 30%;
    width: 96%;
    max-width: 960px;
}
img.img_fon_1{
    width: 18%; /* ширина картинки */
    height: auto; /* высота картинки */
}
div.video_fon_1 {
    opacity: 0.5;
    width: 53%;
    position: absolute;
    margin: 11% 5% 5% 26%;
}
video.video-fon{
    width: 100%;
}
div.container_fon_2{
    position: absolute;
    margin-left: 78%;
    margin-top: 11%;

}
img.container_fon_2_img{
    width: 22%;
}