body{
margin: 0px;
height: 100%;
width: 100%;
background: linear-gradient(to top, #2F325D, #081031 ) no-repeat;
}
h1.op1{
letter-spacing: 0.8px;
    font-size: 18px;
    width: 84%;
    margin: 4% 0 0 6%;
    color: white;
    font-family: "Light";
}
h1.op2{
letter-spacing: 0.8px;
    font-size: 18px;
    width: 84%;
    margin: 24% 0 0 6%;
    color: white;
    font-family: "Light";
}
h1.op3 {
    letter-spacing: 0.8px;
    font-size: 18px;
    width: 84%;
    margin: 23% 0 0 6%;
    color: white;
    font-family: "Light";
}
h1.op4 {
    letter-spacing: 0.8px;
    font-size: 18px;
    width: 84%;
    margin: 23% 0 0 6%;
    color: white;
    font-family: "Light";
}
h1.op5 {
    letter-spacing: 0.8px;
    font-size: 18px;
    width: 84%;
    margin: 23% 0 0 6%;
    color: white;
    font-family: "Light";
}
h1.op6 {
    letter-spacing: 0.8px;
    font-size: 18px;
    width: 84%;
    margin: 23% 0 0 6%;
    color: white;
    font-family: "Light";
    padding-bottom: 11%;


}
@media (max-width: 385px) {

body{
margin: 0px;
height: 100%;
width: 100%;
background: linear-gradient(to top, #2F325D, #081031 ) no-repeat;
}
h1.op1{
letter-spacing: 0.8px;
    font-size: 16px;
    width: 84%;
    margin: 4% 0 0 6%;
    color: white;
    font-family: "Light";
}
h1.op2{
letter-spacing: 0.8px;
    font-size: 16px;
    width: 84%;
    margin: 24% 0 0 6%;
    color: white;
    font-family: "Light";
}
h1.op3 {
    letter-spacing: 0.8px;
    font-size: 16px;
    width: 84%;
    margin: 23% 0 0 6%;
    color: white;
    font-family: "Light";
}
h1.op4 {
    letter-spacing: 0.8px;
    font-size: 16px;
    width: 84%;
    margin: 23% 0 0 6%;
    color: white;
    font-family: "Light";
}
h1.op5 {
    letter-spacing: 0.8px;
    font-size: 16px;
    width: 84%;
    margin: 23% 0 0 6%;
    color: white;
    font-family: "Light";
}
h1.op6 {
    letter-spacing: 0.8px;
    font-size: 16px;
    width: 84%;
    margin: 23% 0 0 6%;
    color: white;
    font-family: "Light";
    padding-bottom: 11%;

}
}
@media (max-width: 347px) {

body{
margin: 0px;
height: 100%;
width: 100%;
background: linear-gradient(to top, #2F325D, #081031 ) no-repeat;
}


}