@font-face {
	font-family: "Comic Sans MS";
	src:url("../fonts/comicbd.ttf") format("truetype");
	font-style:normal;
	font-weight: normal;
}
@font-face {
	font-family: "Futura-Normal";
	src:url("../fonts/ofont.ru_Futura-Normal.ttf") format("truetype");
	font-style:normal;
	font-weight: normal;
}
@font-face {
	font-family: "Eastone";
	src:url("../fonts/Eastone.ttf") format("truetype");
	font-style:normal;
	font-weight: normal;
}
@font-face {
    font-family: "Crossten";
    src:url("../fonts/Crossten-SemiBold.ttf") format("truetype");
    font-style:normal;
    font-weight: normal;
}
