div.fon{
	width: 100%;
	height: 100%;
}
body{
	margin: 0px;
	background: black;
}
img.fon{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.3;
}
h1.fon{
margin: 23% 0 0 25%;
    position: absolute;
    font-size: 71px;
    letter-spacing: 2px;
    font-family: "Intro";
    color: white;
}
h1.fon_1{
	text-align: center;
	margin: 45% 0 0 4%;
    position: absolute;
    font-size: 71px;
    letter-spacing: 2px;
    font-family: "Intro";
    color: white;
}
img.fon_1{
    position: absolute;
    margin: 102% 0 0 34%;
    width: 34%;

}
h1.fon_2{
        text-align: center;
    margin: 86% 0 0 13%;
    position: absolute;
    font-size: 71px;
    letter-spacing: 2px;
    font-family: "Intro";
    color: white;
}
