div.fon{
	width: 100%;
	height: 100vh;
    background: linear-gradient(to top, #C667E8, #FBD1D1);

}
body{
	margin: 0px;
    background: linear-gradient(to top, #C667E8, #FBD1D1);

}
img.fon {
	width: 100%;
	height: 100vh;
	opacity: 0.2;
        background: linear-gradient(to top, #C667E8, #FBD1D1);

}
img.fon.move{
    width: 100%;
    height: 100vh;
    opacity: 0.5;
        background: linear-gradient(to top, #C667E8, #FBD1D1);

}
img.f.move{
    width: 100%;
    height: 100vh;
    display: none;
        background: linear-gradient(to top, #C667E8, #FBD1D1);

}
img.o{
        margin: -225% 0 0 0;

display: block;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    transition-duration: 1s;
        background: linear-gradient(to top, #C667E8, #FBD1D1);

}
a.fon{
text-align: center;
    margin: -151% 0 0 32%;
    position: absolute;
    font-size: 71px;
    letter-spacing: 2px;
    color: white;
        font-family: "Intro";

}
h1.r{
	text-align: center;
margin: -140% 0 0 18%;
    position: absolute;
    font-size: 71px;
    letter-spacing: 2px;
        font-family: "Intro";
    color: white;
    opacity: 0;
}
img.fon_1{
position: absolute;
    margin: -116% 0 0 17%;
    width: 65%;
}
h1.move{
    opacity: 1;
    transition-duration: 1s;
}
a.move{
    opacity: 0;
    transition-duration: 1s;
}
h1.fon_2{
        text-align: center;
    margin: 86% 0 0 13%;
    position: absolute;
    font-size: 71px;
    letter-spacing: 2px;
    font-family: "Intro";
    color: white;
}
img.move{
    opacity:0;
}
img.l{
    transition-duration: 1s;
position: absolute;
    margin: -91% 0 0 17%;
    width: 65%
}
img.fon_1.kate.move{
    display: none;
}