@font-face {
	font-family: "Comic Sans MS";
	src:url("../fonts/comicbd.ttf") format("truetype");
	font-style:normal;
	font-weight: normal;
}
@font-face {
	font-family: "Futura-Normal";
	src:url("../fonts/ofont.ru_Futura-Normal.ttf") format("truetype");
	font-style:normal;
	font-weight: normal;
}
@font-face {
	font-family: "Intro_Regular";
	src:url("../fonts/ofont.ru_Intro.ttf") format("truetype");
	font-style:normal;
	font-weight: normal;
}
