/*1369 - 1600 px*/
@media ( max-width: 1600px) {
    h1.Alexey {
        position: absolute;
        font-size: 50px;
        color: white;
        font-family: "Comic Sans MS";
        letter-spacing: 16px;
        margin: 20% 0% 0% 39%;
    }

    li {
        letter-spacing: 2px;
        font-family: "Comic Sans MS";
        font-size: 14px;
        padding-left: 22px;
        padding-right: 22px;
    }

    h1.scroll {
        margin: 48.3% 0 0 49.6%;
        color: white;
        font-size: 16px;
        letter-spacing: 1px;
        position: absolute;
        font-family: "Futura-Normal";
    }

    p.dop_2slide_1 {
        margin: 24% 0 0 10%;
        position: absolute;
        font-size: 14px;
        color: white;
        letter-spacing: 4px;
        font-family: "Comic Sans MS";
    }
    button.button_2_slide {
        opacity: 0.89;
        margin: 43% 0 0 62.2%;
        border: none;
        position: absolute;
        padding: 7px 29px 7px 29px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 7px 20px -5px black;
        border-radius: 22px;
        cursor: pointer;
        font-weight: 600;
        font-size: 13px;
        font-family: "Futura-Normal";
        letter-spacing: 2px;
        box-shadow: 0px 0px 20px 6px #1C2DC5;
    }
    button.button_3_slide {
        margin: 42.65% 0 0 62.4%;
        border: none;
        position: absolute;
        padding: 10px 122px 10px 29px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 7px 20px -5px black;
        border-radius: 22px;
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
        font-family: "Futura-Normal";
        letter-spacing: 2px;
    }
    p.content_post {
        letter-spacing: 3px;
        color: white;
        font-size: 12px;
        font-family: "Comic Sans MS";
        text-decoration: none;
        list-style: none;
    }
    a.title {
        letter-spacing: 3px;
        color: white;
        font-size: 17px;
        font-family: "Comic Sans MS";
        text-decoration: none;
        list-style: none;
    }
    p.text {
        position: absolute;
        margin: 24% 0 0 6%;
        font-size: 49px;
        color: white;
        font-family: "Futura-Normal";
        letter-spacing: 10;
        opacity: 0.51;
    }
    p.text_1 {
        position: absolute;
        margin: 29% 0 0 6%;
        font-size: 49px;
        color: white;
        font-family: "Futura-Normal";
        letter-spacing: 10;
        opacity: 0.51;
    }
    img.dop2_2 {
        position: absolute;
        margin: 5% 0 0 35%;
        width: 65%;
    }
    img.music_1 {
        z-index: 1;
        position: absolute;
        width: 49%;
        margin: 75% 0 0 5%;
    }
    img.music_3 {
        position: absolute;
        width: 47%;
        margin: 99% 0 0 46%;
        z-index: 2;
    }
    h1.music {
        position: absolute;
        font-size: 65px;
        z-index: 3;
        margin: 111% 0 0 42%;
        font-family: "Eastone";
        color: white;
        letter-spacing: 20px;
    }
    div.slide5 {
        position: absolute;
        width: 100%;
        margin: 0% 0 0 0%;
    }
    button.button_6_slide {
        opacity: 0.89;
        z-index: 5;
        margin: 196% 0 0 26.2%;
        border: none;
        position: absolute;
        padding: 7px 29px 7px 29px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 7px 20px -5px black;
        border-radius: 22px;
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
        font-family: "Futura-Normal";
        letter-spacing: 2px;
        box-shadow: 0px 0px 20px 6px #1C2DC5;
    }
    img.sl2 {
        width: 42%;
        margin-left: 151px;
    }
    img.vk{
        width: 70px;
    }
    img.inst{
        width: 70px;
    }
    p.vk {
        position: absolute;
        margin: 384% 0 0 49%;
    }
    p.inst {
        position: absolute;
        margin: 399% 0 0 49%;
    }
}
    /*961 - 1368 px*/
    @media ( max-width: 1368px) {
        h1.Alexey {
            position: absolute;
            font-size: 47px;
            color: white;
            font-family: "Comic Sans MS";
            letter-spacing: 14px;
            margin: 20% 0% 0% 39%;
        }
        li {
            letter-spacing: 2px;
            font-family: "Comic Sans MS";
            font-size: 12px;
            padding-left: 22px;
            padding-right: 22px;
        }
        h1.scroll {
            margin: 48.3% 0 0 49.6%;
            color: white;
            font-size: 13px;
            letter-spacing: 1px;
            position: absolute;
            font-family: "Futura-Normal";
        }
        button.button_2_slide {
            opacity: 0.89;
            margin: 45% 0 0 61.2%;
            border: none;
            position: absolute;
            padding: 7px 29px 7px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            box-shadow: 0px 0px 20px 6px #1C2DC5;
        }
        button.button_3_slide {
            margin: 44.65% 0 0 61.4%;
            border: none;
            position: absolute;
            padding: 10px 122px 10px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
        }
        p.text {
            position: absolute;
            margin: 24% 0 0 6%;
            font-size: 52px;
            color: white;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            opacity: 0.51;
        }
        p.text_1 {
            position: absolute;
            margin: 30% 0 0 6%;
            font-size: 52px;
            color: white;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            opacity: 0.51;
        }
        button.button_6_slide {
            opacity: 0.89;
            z-index: 5;
            margin: 195.7% 0 0 26.2%;
            border: none;
            position: absolute;
            padding: 7px 29px 7px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            box-shadow: 0px 0px 20px 6px #1C2DC5;
        }
        img.sl2 {
            width: 38%;
            margin-left: 32%;
        }
        img.vk{
            width: 60px;
        }
        img.inst{
            width: 60px;
        }
        p.vk {
            position: absolute;
            margin: 384% 0 0 49%;
        }
        p.inst {
            position: absolute;
            margin: 399% 0 0 49%;
        }
    }
    @media ( max-width: 1081px){
        h1.Alexey {
            position: absolute;
            font-size: 38px;
            color: white;
            font-family: "Comic Sans MS";
            letter-spacing: 14px;
            margin: 20% 0% 0% 38%;
        }
        p.dop_2slide_1 {
            margin: 24% 0 0 10%;
            position: absolute;
            font-size: 12px;
            color: white;
            letter-spacing: 4px;
            font-family: "Comic Sans MS";
        }
        h1.years {
            margin: 19% 0 0 10%;
            position: absolute;
            font-size: 20px;
            color: white;
            letter-spacing: 4px;
            font-family: "Comic Sans MS";
        }
        h1.blog {
            position: absolute;
            z-index: 4;
            font-family: "Comic Sans MS";
            color: white;
            font-size: 22px;
            margin: 84% 0 0 25%;
            letter-spacing: 1.3px;
        }
        button.button_5_slide {
            opacity: 0.89;
            margin: 121% 0 0 50.2%;
            border: none;
            position: absolute;
            padding: 7px 29px 7px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            box-shadow: 0px 0px 20px 6px #1C2DC5;
        }
        p.text {
            position: absolute;
            margin: 24% 0 0 6%;
            font-size: 42px;
            color: white;
            font-family: "Futura-Normal";
            letter-spacing: 3;
            opacity: 0.51;
        }
        p.text_1 {
            position: absolute;
            margin: 30% 0 0 6%;
            font-size: 42px;
            color: white;
            font-family: "Futura-Normal";
            letter-spacing: 3;
            opacity: 0.51;
        }
        h1.music {
            position: absolute;
            font-size: 40px;
            z-index: 3;
            margin: 111% 0 0 42%;
            font-family: "Eastone";
            color: white;
            letter-spacing: 20px;
        }
        button.button_7_slide {
            margin: 196.9% 0 0 26.4%;
            border: none;
            position: absolute;
            padding: 10px 122px 10px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
        }
        img.sl2 {
            width: 36%;
            margin-left: 32%;
        }
        img.vk{
            width: 60px;
        }
        img.inst{
            width: 60px;
        }
        p.vk {
            position: absolute;
            margin: 384% 0 0 47%;
        }
        p.inst {
            position: absolute;
            margin: 399% 0 0 47%;
        }
    }

    /*769 - 960 px*/
    @media ( max-width: 960px) {
        div.container_Menu {
            position: absolute;
            left: 0;
            top: 4%;
            width: 97%;
            height: 50px;
            text-align: center;
            display: inline;
            vertical-align: middle;
        }
        h1.Alexey {
            position: absolute;
            font-size: 31px;
            color: white;
            font-family: "Comic Sans MS";
            letter-spacing: 14px;
            margin: 20% 0% 0% 38%;
        }
        p.dop_2slide_1 {
            margin: 24% 0 0 10%;
            position: absolute;
            font-size: 10px;
            color: white;
            letter-spacing: 4px;
            font-family: "Comic Sans MS";
        }
        button.button_2_slide {
            opacity: 0.89;
            margin: 48% 0 0 69.2%;
            border: none;
            position: absolute;
            padding: 7px 29px 7px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 9px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            box-shadow: 0px 0px 20px 6px #1C2DC5;
        }
        button.button_3_slide {
            margin: 47.65% 0 0 68.4%;
            border: none;
            position: absolute;
            padding: 10px 122px 10px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
        }
        h1.blog {
            position: absolute;
            z-index: 4;
            font-family: "Comic Sans MS";
            color: white;
            font-size: 18px;
            margin: 84% 0 0 25%;
            letter-spacing: 1.3px;
        }
        a.title {
            letter-spacing: 3px;
            color: white;
            font-size: 13px;
            font-family: "Comic Sans MS";
            text-decoration: none;
            list-style: none;
        }
        a.title_1 {
            letter-spacing: 3px;
            color: white;
            font-size: 13px;
            font-family: "Comic Sans MS";
            text-decoration: none;
            list-style: none;
        }
        p.content_post {
            letter-spacing: 3px;
            color: white;
            font-size: 10px;
            font-family: "Comic Sans MS";
            text-decoration: none;
            list-style: none;
        }
        p.text {
            position: absolute;
            margin: 24% 0 0 7%;
            font-size: 32px;
            color: white;
            font-family: "Futura-Normal";
            letter-spacing: 3;
            opacity: 0.51;
        }
        p.text_1 {
            position: absolute;
            margin: 30% 0 0 7%;
            font-size: 32px;
            color: white;
            font-family: "Futura-Normal";
            letter-spacing: 3;
            opacity: 0.51;
        }
        img.dop2_2 {
            position: absolute;
            margin: 23% 0 0 35%;
            width: 65%;
        }
        h1.music {
            position: absolute;
            font-size: 40px;
            z-index: 3;
            margin: 111% 0 0 42%;
            font-family: "Eastone";
            color: white;
            letter-spacing: 16px;
        }
        img.sl2 {
            width: 50%;
            margin-left: 30%;
        }
    }
    @media ( max-width: 800px){
        h1.Alexey {
            position: absolute;
            font-size: 25px;
            color: white;
            font-family: "Comic Sans MS";
            letter-spacing: 14px;
            margin: 20% 0% 0% 38%;
        }
        p.dop_2slide_1 {
            margin: 24% 0 0 10%;
            position: absolute;
            font-size: 10px;
            color: white;
            letter-spacing: 3px;
            font-family: "Comic Sans MS";
        }
        h1.years {
            margin: 19% 0 0 10%;
            position: absolute;
            font-size: 19px;
            color: white;
            letter-spacing: 4px;
            font-family: "Comic Sans MS";
        }
        img.dop2_2 {
            position: absolute;
            margin: 23% 0 0 35%;
            width: 65%;
        }
        h1.music {
            position: absolute;
            font-size: 40px;
            z-index: 3;
            margin: 111% 0 0 40%;
            font-family: "Eastone";
            color: white;
            letter-spacing: 16px;
        }
    }
    /*481 - 768 px*/
    @media ( max-width: 768px) {
        h1.Alexey {
            position: absolute;
            font-size: 44px;
            color: white;
            font-family: "Comic Sans MS";
            letter-spacing: 14px;
            margin: 20% 0% 0% 33%;
        }
        p.dop_2slide_1 {
            z-index: 10;
            margin: 10% 0 0 4%;
            position: absolute;
            font-size: 13px;
            color: white;
            letter-spacing: 2px;
            font-family: "Comic Sans MS";
        }
        button.button_3_slide {
            margin: 47.65% 0 0 68.4%;
            border: none;
            position: absolute;
            padding: 10px 103px 10px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
        }
        button.button_2_slide {
            opacity: 0.89;
            margin: 48% 0 0 68.2%;
            border: none;
            position: absolute;
            padding: 7px 29px 7px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 9px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            box-shadow: 0px 0px 20px 6px #1C2DC5;
        }
        button.button_5_slide {
            opacity: 0.89;
            margin: 121% 0 0 50.2%;
            border: none;
            position: absolute;
            padding: 7px 29px 7px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 9px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            box-shadow: 0px 0px 20px 6px #1C2DC5;
        }
        button.button_4_slide {
            margin: 120.7% 0 0 50.4%;
            border: none;
            position: absolute;
            padding: 10px 103px 10px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
        }
        img.dop2_2 {
            position: absolute;
            margin: 9% 0 0 24%;
            width: 72%;
        }
        p.text_1 {
            position: absolute;
            margin: 30% 0 0 7%;
            font-size: 26px;
            color: white;
            font-family: "Futura-Normal";
            letter-spacing: 3;
            opacity: 0.51;
        }
        p.text {
            position: absolute;
            margin: 24% 0 0 7%;
            font-size: 27px;
            color: white;
            font-family: "Futura-Normal";
            letter-spacing: 3;
            opacity: 0.51;
        }
        button.button_6_slide {
            opacity: 0.89;
            z-index: 5;
            margin: 195.7% 0 0 26.2%;
            border: none;
            position: absolute;
            padding: 7px 29px 7px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 9px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            box-shadow: 0px 0px 20px 6px #1C2DC5;
        }
        button.button_7_slide {
            margin: 196.9% 0 0 26.4%;
            border: none;
            position: absolute;
            padding: 10px 103px 10px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
        }

    }
    @media ( max-width: 670px) {
        h1.Alexey {
            position: absolute;
            font-size: 35px;
            color: white;
            font-family: "Comic Sans MS";
            letter-spacing: 11px;
            margin: 20% 0% 0% 33%;
        }
        button.button_2_slide {
            opacity: 0.89;
            margin: 48% 0 0 64.2%;
            border: none;
            position: absolute;
            padding: 7px 29px 7px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 9px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            box-shadow: 0px 0px 20px 6px #1C2DC5;
        }
        button.button_3_slide {
            margin: 47.65% 0 0 64.4%;
            border: none;
            position: absolute;
            padding: 10px 103px 10px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
        }
        button.button_5_slide {
            opacity: 0.89;
            margin: 125% 0 0 50.2%;
            border: none;
            position: absolute;
            padding: 7px 29px 7px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 9px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            box-shadow: 0px 0px 20px 6px #1C2DC5;
        }
        button.button_4_slide {
            margin: 124.7% 0 0 50.4%;
            border: none;
            position: absolute;
            padding: 10px 103px 10px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
        }
        p.text {
            position: absolute;
            margin: 24% 0 0 7%;
            font-size: 26px;
            color: white;
            font-family: "Futura-Normal";
            letter-spacing: 3;
            opacity: 0.51;
        }
        h1.music {
            position: absolute;
            font-size: 40px;
            z-index: 3;
            margin: 111% 0 0 40%;
            font-family: "Eastone";
            color: white;
            letter-spacing: 11px;
        }
        button.button_6_slide {
            opacity: 0.89;
            z-index: 5;
            margin: 194.7% 0 0 26.2%;
            border: none;
            position: absolute;
            padding: 7px 29px 7px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 9px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            box-shadow: 0px 0px 20px 6px #1C2DC5;
        }
        img.vk{
            width: 42px;
        }
        img.inst{
            width: 42px;
        }
        p.vk {
            position: absolute;
            margin: 384% 0 0 49%;
        }
        p.inst {
            position: absolute;
            margin: 399% 0 0 49%;
        }
    }
    @media ( max-width: 624px) {
        h1.Alexey {
            position: absolute;
            font-size: 30px;
            color: white;
            font-family: "Comic Sans MS";
            letter-spacing: 11px;
            margin: 20% 0% 0% 33%;
        }
        p.vk {
            position: absolute;
            margin: 378% 0 0 49%;
        }
    }
    /*320 - 480 px*/
    @media ( max-width: 480px) {
        .burger_menu_button{
            display: block;
            position: fixed;
            top: 6%;
            left: 84%;
            z-index: 30;
            width: 44px;
            height: 44px;
            border-radius: 44%;
            background-color: white;
        }
        ul.menu{
            display: none;
        }
        video.video_fon_slide1 {
            width: 100%;
            transform: rotate(270deg);
        }
        h1.Alexey {
            z-index: 10;
            position: absolute;
            font-size: 53px;
            color: white;
            font-family: "Comic Sans MS";
            letter-spacing: 11px;
            margin: 61% 0% 0% 17%;
        }
        div.slide1_video {
            margin-top: 50%;
            position: absolute;
            height: 100%;
            width: auto;
        }
        div.fon_slide1 {
            width: 20%;
            position: absolute;
            margin: 58% 0 0 41%;
        }
        img.bow {
            width: 2.8%;
            margin: 156% 0 0 43%;
            position: absolute;
        }
        h1.scroll {
            margin: 157.3% 0 0 48.6%;
            color: white;
            font-size: 13px;
            letter-spacing: 2px;
            position: absolute;
            font-family: "Futura-Normal";
        }
        div.slide1_video{
            display: none;
        }
        video.video_fon_slide1{
            display: none;
        }
        div.slide1_video_mp4{
            margin-left: 3%;
            display: block;
            margin-top: 50%;
            position: absolute;
            height: 100%;
            width: auto;
        }
        video.video_fon_slide1_mp4{
            display: block;
            width: 100%;
            transform: rotate(270deg);
        }
        img.dop2_1 {
            position: absolute;
            margin: 3% 0 0 0%;
            width: 86%;
        }
        h1.years {
            z-index: 10;
            margin: 88% 0 0 10%;
            position: absolute;
            font-size: 19px;
            color: white;
            letter-spacing: 4px;
            font-family: "Comic Sans MS";
        }
        img.dop2_2 {
            z-index: 10;
            position: absolute;
            margin: 92% 0 0 -24%;
            width: 100%;
        }
        button.button_2_slide {
            z-index: 10;
            opacity: 0.89;
            margin: 173% 0 0 30.2%;
            border: none;
            position: absolute;
            padding: 7px 29px 7px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 9px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            box-shadow: 0px 0px 20px 6px #1C2DC5;
        }
        button.button_3_slide {
            margin: 171.65% 0 0 31.4%;
            border: none;
            position: absolute;
            padding: 10px 98px 10px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            z-index: 10;
        }
        p.dop_2slide_1 {
            text-align: center;
            z-index: 10;
            margin: 10% 0 0 0%;
            position: absolute;
            font-size: 13px;
            color: white;
            letter-spacing: 2px;
            font-family: "Comic Sans MS";
        }
        img.slide2_dop6 {
            position: absolute;
            margin: 182% 0 0 0%;
            width: 99%;
            z-index: 3;
        }
        img.slide2_dop5 {
            position: absolute;
            margin: 275% 0 0 36%;
            width: 30%;
        }
        img.dop2_1 {
            position: absolute;
            margin: 3% 0 0 0%;
            width: 86%;
        }
        img.slide2_dop3 {
            position: absolute;
            margin: 232% 0 0 0%;
            width: 100%;
            display: none;
        }
        img.slide2_dop4 {
            position: absolute;
            margin: 239% 0 0 0%;
            width: 100%;
        }
        h1.blog {
            position: absolute;
            z-index: 4;
            font-family: "Comic Sans MS";
            color: white;
            font-size: 37px;
            margin: 281% 0 0 39%;
            letter-spacing: 1.3px;
        }
        article.post {
            text-align: center;
            position: absolute;
            margin: 307% 0 0 28%;
            z-index: 2;
        }
        article.post_1 {
            position: absolute;
            margin: 369% 0 0 28%;
            z-index: 2;
            text-align: center;
        }
        button.button_4_slide {
            margin: 429.7% 0 0 34.2%;
            border: none;
            position: absolute;
            padding: 10px 98px 10px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            z-index: 2;
        }
        button.button_5_slide {
            opacity: 0.89;
            margin: 431% 0 0 33.2%;
            border: none;
            position: absolute;
            padding: 7px 29px 7px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 9px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            box-shadow: 0px 0px 20px 6px #1C2DC5;
            z-index: 2;
        }
        div.slide3_video {
            z-index: 2;
            position: absolute;
            margin: 474% 0 0 -1%;
            width: 19%;
            transform: rotate(270deg);
        }
        .slick-slider
        {
            margin-top: 500%;
            margin-left: -3%;
            transform: rotate(0deg);
            position: relative;
            height:  270px;
            display: block;
            box-sizing: border-box;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            -webkit-touch-callout: none;
            -khtml-user-select: none;
            -ms-touch-action: pan-y;
            touch-action: pan-y;
            -webkit-tap-highlight-color: transparent;
        }
        p.text {
            position: absolute;
            margin: 44% 0 0 0%;
            font-size: 14px;
            color: white;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            opacity: 0.51;
        }
        p.text_1 {
            position: absolute;
            margin: 49% 0 0 0%;
            font-size: 14px;
            color: white;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            opacity: 0.51;
        }
        img.web {
            position: absolute;
            width: 100%;
            margin: -15% 0 0 0%;
        }
        h1.music {
            position: absolute;
            font-size: 40px;
            z-index: 3;
            margin: 147% 0 0 34%;
            font-family: "Eastone";
            color: white;
            letter-spacing: 11px;
        }
        img.music_1 {
            z-index: 1;
            position: absolute;
            width: 51%;
            margin: 110% 0 0 25%;
        }
        article.post_3 {
            position: absolute;
            margin: 192% 0 0 9%;
        }
        button.button_7_slide {
            margin: 262.2% 0 0 34.4%;
            border: none;
            position: absolute;
            padding: 10px 98px 10px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
        }
        button.button_6_slide {
            opacity: 0.89;
            z-index: 5;
            margin: 259.7% 0 0 33.1%;
            border: none;
            position: absolute;
            padding: 7px 29px 7px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 9px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            box-shadow: 0px 0px 52px 6px #1C2DC5;
        }
        img.sl2 {
            width: 30%;
            margin-left: 36%;
        }
        div.fon6_slide {
            position: absolute;
            width: 100%;
            margin: 290% 0 0 0%;
        }
        div.sl2 {
            position: absolute;
            width: 100%;
            margin: 348% 0 0 0;
        }
        div.slide_5 {
            position: absolute;
            width: 100%;
            margin: 111% 0 0 0;
        }
        img.music_3 {
            position: absolute;
            width: 47%;
            margin: 210% 0 0 46%;
            z-index: 2;
        }
        article.post_2 {
            position: absolute;
            margin: 184% 0 0 9%;
        }
        article.post_3 {
            position: absolute;
            margin: 220% 0 0 9%;
        }
        h1.popa {
            text-align: center;
            font-size: 16px;
            color: white;
            margin: 10% 0 0 6%;
            font-family: "Futura-Normal";
            letter-spacing: 1px;
        }
        div.slide6 {
            position: absolute;
            width: 100%;
            margin: 283% 0 0 0;
        }
        div.fon7 {
            z-index: -5;
            position: absolute;
            width: 100%;
            margin: 402.7% 0 0 0%;
        }
        p.vk {
            position: absolute;
            margin: 426% 0 0 17%;
        }
        p.inst {
            position: absolute;
            margin: 426% 0 0 76%;
        }
        }


    @media ( max-width: 419px){
        h1.Alexey {
            position: absolute;
            font-size: 49px;
            color: white;
            font-family: "Comic Sans MS";
            letter-spacing: 10px;
            margin: 61% 0% 0% 17%;
        }
        p.text {
            position: absolute;
            margin: 46% 0 0 7%;
            font-size: 13px;
            color: white;
            font-family: "Futura-Normal";
            letter-spacing: 1px;
            opacity: 0.51;
        }
        p.text_1 {
            position: absolute;
            margin: 42% 0 0 7%;
            font-size: 13px;
            color: white;
            font-family: "Futura-Normal";
            letter-spacing: 1px;
            opacity: 0.51;
        }
        button.button_6_slide {
            opacity: 0.89;
            z-index: 5;
            margin: 269.7% 0 0 33.1%;
            border: none;
            position: absolute;
            padding: 7px 29px 7px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 9px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            box-shadow: 0px 0px 20px 6px #1C2DC5;
        }
        button.button_7_slide {
            margin: 272.4% 0 0 33.4%;
            border: none;
            position: absolute;
            padding: 10px 102px 10px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
        }
        p.vk {
            position: absolute;
            margin: 426% 0 0 22%;
        }
        p.inst {
            position: absolute;
            margin: 426% 0 0 70%;
        }
        button.button_4_slide {
            margin: 429.7% 0 0 32.2%;
            border: none;
            position: absolute;
            padding: 10px 98px 10px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            z-index: 2;
        }
        button.button_5_slide {
            opacity: 0.89;
            margin: 431% 0 0 31.2%;
            border: none;
            position: absolute;
            padding: 7px 29px 7px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 9px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            box-shadow: 0px 0px 20px 6px #1C2DC5;
            z-index: 2;
        }
        article.post {
            text-align: center;
            position: absolute;
            margin: 307% 0 0 26%;
            z-index: 2;
        }
        article.post_1 {
            position: absolute;
            margin: 369% 0 0 26%;
            z-index: 2;
            text-align: center;
        }
    }
@media ( max-width: 391px) {
       article.post {
           text-align: center;
           position: absolute;
           margin: 307% 0 0 25%;
           z-index: 2;
       }
    article.post_1 {
        position: absolute;
        margin: 369% 0 0 25%;
        z-index: 2;
        text-align: center;
    }
    button.button_7_slide {
        margin: 267.9% 0 0 33.2%;
        border: none;
        position: absolute;
        padding: 10px 98px 10px 29px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 7px 20px -5px black;
        border-radius: 22px;
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
        font-family: "Futura-Normal";
        letter-spacing: 2px;
    }
    button.button_6_slide {
        opacity: 0.89;
        z-index: 5;
        margin: 264.7% 0 0 32.1%;
        border: none;
        position: absolute;
        padding: 7px 29px 7px 29px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 7px 20px -5px black;
        border-radius: 22px;
        cursor: pointer;
        font-weight: 600;
        font-size: 9px;
        font-family: "Futura-Normal";
        letter-spacing: 2px;
        box-shadow: 0px 0px 52px 6px #1C2DC5;
    }
}
    @media ( max-width: 369px){
        h1.Alexey {
            position: absolute;
            font-size: 42px;
            color: white;
            font-family: "Comic Sans MS";
            letter-spacing: 11px;
            margin: 61% 0% 0% 16%;
        }
        article.post {
            text-align: center;
            position: absolute;
            margin: 307% 0 0 24%;
            z-index: 2;
        }
        article.post_1 {
            position: absolute;
            margin: 369% 0 0 24%;
            z-index: 2;
            text-align: center;
        }
        h1.blog {
            position: absolute;
            z-index: 4;
            font-family: "Comic Sans MS";
            color: white;
            font-size: 37px;
            margin: 281% 0 0 37%;
            letter-spacing: 1.3px;
        }
        button.button_5_slide {
            opacity: 0.89;
            margin: 431% 0 0 30.2%;
            border: none;
            position: absolute;
            padding: 7px 29px 7px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 9px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            box-shadow: 0px 0px 20px 6px #1C2DC5;
            z-index: 2;
        }
        button.button_4_slide {
            margin: 429.7% 0 0 31.2%;
            border: none;
            position: absolute;
            padding: 10px 98px 10px 29px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 7px 20px -5px black;
            border-radius: 22px;
            cursor: pointer;
            font-weight: 600;
            font-size: 12px;
            font-family: "Futura-Normal";
            letter-spacing: 2px;
            z-index: 2;
        }
        h1.music {
            position: absolute;
            font-size: 40px;
            z-index: 3;
            margin: 146% 0 0 32%;
            font-family: "Eastone";
            color: white;
            letter-spacing: 8px;
        }
    }
@media ( max-width: 348px) {
         h1.Alexey {
             position: absolute;
             font-size: 37px;
             color: white;
             font-family: "Comic Sans MS";
             letter-spacing: 10px;
             margin: 61% 0% 0% 19%;
    }
    p.text {
        position: absolute;
        margin: 39% 0 0 0%;
        font-size: 13px;
        color: white;
        font-family: "Futura-Normal";
        letter-spacing: 1px;
        opacity: 0.51;
    }
    p.text_1 {
        position: absolute;
        margin: 44% 0 0 0%;
        font-size: 13px;
        color: white;
        font-family: "Futura-Normal";
        letter-spacing: 1px;
        opacity: 0.51;
    }
    button.button_7_slide {
        margin: 267.9% 0 0 31.6%;
        border: none;
        position: absolute;
        padding: 10px 98px 10px 29px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 7px 20px -5px black;
        border-radius: 22px;
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
        font-family: "Futura-Normal";
        letter-spacing: 2px;
    }
    button.button_6_slide {
        opacity: 0.89;
        z-index: 5;
        margin: 264.7% 0 0 30.1%;
        border: none;
        position: absolute;
        padding: 7px 29px 7px 29px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 7px 20px -5px black;
        border-radius: 22px;
        cursor: pointer;
        font-weight: 600;
        font-size: 9px;
        font-family: "Futura-Normal";
        letter-spacing: 2px;
        box-shadow: 0px 0px 52px 6px #1C2DC5;
    }
}
@media ( max-width: 321px) {
    h1.music {
        position: absolute;
        font-size: 32px;
        z-index: 3;
        margin: 148% 0 0 32%;
        font-family: "Eastone";
        color: white;
        letter-spacing: 8px;
    }
    button.button_6_slide {
        opacity: 0.89;
        z-index: 5;
        margin: 278.7% 0 0 29.1%;
        border: none;
        position: absolute;
        padding: 7px 29px 7px 29px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 7px 20px -5px black;
        border-radius: 22px;
        cursor: pointer;
        font-weight: 600;
        font-size: 9px;
        font-family: "Futura-Normal";
        letter-spacing: 2px;
        box-shadow: 0px 0px 52px 6px #1C2DC5;
    }
    button.button_7_slide {
        margin: 282.6% 0 0 30.4%;
        border: none;
        position: absolute;
        padding: 10px 98px 10px 29px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 7px 20px -5px black;
        border-radius: 22px;
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
        font-family: "Futura-Normal";
        letter-spacing: 2px;
    }
    article.post_3 {
        position: absolute;
        margin: 227% 0 0 9%;
    }

}